@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lancelot&family=Telex&display=swap");

:root {
  /* fonts size */
  --base-size: 1rem;
  --scale: 1.25;
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);

  /* font type */
  --sans-serif: "Telex";

  /* colors */
  --green: #214132;
  --white: #ffffff;
  --lemon: #d7ffa4;
  --peach: #f9ffe8;
  --whitelemon: #e2ffbd;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: var(--sans-serif);
  font-size: var(--base-size);
  font-weight: 400;
  line-height: 1.75;
  color: var(--shaft);
  margin: 0px;
}

p {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--h6);
}

figure {
  margin: 0;
}
